$navbar-color: #000;
$main-color: #fff;
$background-color: #ececec;
$border-color: #c7c7c7;
$selected-color: #2285b6;
$subheading-color: #848385;

.selectable:hover {
  cursor: pointer;
  color: $selected-color !important;
}
.pointer:hover {
  cursor: pointer;
}
body {
  font-size: 200%;
}

// *** Pages ***
@import "app/main/songs/style";
@import "app/main/songs/index/style";
@import "app/main/songs/song/style";

// *** Components ***
@import "app/main/components/main-layout/style";
@import "app/main/components/hidden-details-slider/style";
@import "app/main/components/table-filter/style";
@import "app/main/components/likes-meter/style";
