body {
  font-size: 200%;
}
.main-container {
  margin-top: 3em;
}

#navbar {
  min-height: 3em;
  padding-left: .2em;
  padding-right: .2em;
}
#navbar .menu-button {
  color: white;
  font-size: 2em;
  padding: .2em;
}

#navbar .title {
  color: white;
  padding: .1em;
  font-size: 2em;
}

/* Songs list page. */
.songs-filter-container {
  position: fixed;
  top: 3em;
  bottom: 0;
  right: 0;
  display: block;
  padding: .5em;
  overflow-x: hidden;
  background-color: #ececec;
  border-left: 2px solid #c7c7c7;
}
.songs-table-container thead {
  background-color: #ececec;
  border-bottom: 2px solid #c7c7c7;
}
.songs-table-container {
  padding-right: 0;
}
