<table class="table">
  <thead>
    <tr>
      <th>Artist</th>
    </tr>
  </thead>
  <div class="filter-body">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <div class="checkbox">
              <label class="ellipsis">
                <input type="checkbox"> Check me out asfafasfsafaaaaaaaaaaasafafasfasfafafafafsafaffas
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox form-cont">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox form-cont">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox form-cont">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox form-cont">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</table>
