<table class="table">
  <thead>
    <tr>
      <th>{{title}}</th>
    </tr>
  </thead>
  <div class="filter-body">
    <table class="table">
      <tbody>
        {{#each itemList as |item|}}
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" onchange={{action attrs.update item}}> {{item}}
              </label>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</table>
