<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <span class="title">MusicBox</span>
  <span class="glyphicon glyphicon-menu-hamburger pull-right menu-button"></span>
</nav>
<div class="container-fluid main-container">
  {{outlet}}
</div>
