<div class="row">
  <div class="col-md-9 songs-table-container col-sm-8 col-xs-8">

  </div>

  <div class="songs-filter-container col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8">
    <strong>Other songs by {{song.artist.name}}</strong>

  </div>
</div>
