<table class="table">
  <thead>
    <tr>
      <th>{{title}}</th>
    </tr>
  </thead>
  <div class="filter-body">
    <table class="table">
      <tbody>
        {{#each values as |item|}}
        <tr>
          <td>
            <div>
              {{item}}
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</table>
